* {
    box-sizing: border-box;
}

html {
   height: 100%;
}

body { 
    font-family: Helvetica,Arial,sans-serif;
   /* background: url("vista-hojas-secas-otono.jpg");
    background-size: cover;*/
    margin: 0;
    display: grid;
    height: 100%;
    color: #ffffff;
}    

.backdrop {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-pag{
    display: none;
    position: fixed;
    z-index: 200;
    top: 1rem;
    left: 8%;
    height: 100vh;
    width: 80%;
    padding: 1rem;
    text-align: center;
}

.close{
    justify-self: end;
    right: 0;
    color: #ffffff !important;
    background: none;
    opacity: 1;
}

iframe{
   width: 100%;
   height: 100vh;
}

.first-section{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    /*padding: 0 4rem;*/
    /*background-color: #E7C5B1;*/
    background: url("vista-hojas-secas-otono-min.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*Background-color: #A62522;*/
    color: #5A0609;
    align-items: start;
}

.text-portada  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-right: 2rem;*/
 } 

.text{
    padding-top: 2rem;
}

.text h4{
    /*font-size: 35px;*/
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 1rem 0;
    color: #A62522;
}

.text p{
    font-size: 18px;
    font-weight: bold;
    /*font-size: 25px;
    margin: 0.4rem 0 1rem 0;*/
}

.portada{
    margin: auto;
    /*width: 15%;*/
    height: 250px;
   /* height: 344px;*/
    overflow: hidden;
  /*  padding-top: 2.5rem;*/
    /*display: flex;
    justify-content: center;*/
}

.portada img{
    max-width: auto;
    height: 100%;
}

.section-actions {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   padding-top: 2rem;
}

.section-actions > div {
    display: inline-flex;
    padding: 6px 16px;
    min-width: 200px;
    align-items: center;
    height:50px;
    border-radius:30px;
    text-align:center;
}

.button-action{
    font-size: 16px;
    font-family: Helvetica,Arial,sans-serif;
    color:#ffffff !important;
    font-weight:bold;
    cursor:pointer;
    width: 100%;
    margin:0;
    text-decoration:none !important;
}

.read {
    display: none;
    background-color: #C98025;
    margin-bottom: 0.8rem;
    padding: 0 30px;
}

.amazon{
    padding: 0 8px;
    background-color:#C64800;
}

.second-section{
    padding: 2rem 0.5rem;
    background-color: #E7C5B1;
    /*background: url("vista-hojas-secas-otono.jpg");
    background-size: cover;*/
    /*background-color: #E7C5B1;*/
}

.reviews h4 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin:0;
    margin-bottom: 1rem;
    color: #A62522;
}

.section-video {
   width: 100%;
   text-align: center;
   height: 100%px;
   overflow: hidden;
   padding-bottom: 2rem;
}

.section-video video{
    max-width: 100%;
    height: auto;
}

.review-card {
    border-radius: 8px;
    padding: 1rem 0.5rem;
    /*padding: 1rem 2rem;*/
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1.5rem;
    color: #5A0609;
 }

 .review-card p {
    text-align: center;
    font-size: 18px;
    margin: 0;
 }

 .main-footer{
    padding-bottom: 2rem;
    text-align: center;
    background-color: #E7C5B1;
    color: #5A0609;
 }

 .main-footer p{
    margin:0;
 }

 @media (min-width: 20rem){
    .text h4{
        font-size: 25px;
    }

    .text p{
        font-size: 22px;
    }

    .button-action{
        font-size: 18px;
    } 
 }

 @media (min-width: 31.25rem){
    .second-section{
        display: flex;
        flex-direction: column;
    }

    .section-video{
       margin: auto;
       width: 60%;
    }
 }

 @media (min-width: 48rem){
    .first-section {
        justify-content: center;
     }

    .text{
        width: 60%;
        margin-right: 1rem;
    }

    .text h4{
        font-size: 30px;
    }

    .text p{
        font-size: 20px;
    }

    .portada{
        width:25%;
        margin:0;
        padding-top: 1.8rem;
    }

    .button-action{
       font-size: 20px;
    }
    
    .read {
       display: inline-flex !important;
       margin-right: 0.8rem;
    }

    .reviews h4 {
       font-size: 35px;
    }

    .review-card {
       padding: 1rem 2rem;
    }

    .review-card p {
        text-align:left;
        font-size: 20px;
    }    
 }


 @media (min-width: 62.5rem){
    .second-section{
        flex-direction: row;
        padding: 3rem;
    }

    .section-video{
       align-self: center; 
       width: 35%;
       margin-right: 2rem;
    }

    .reviews{
        width: 60%;
    }

 }

 @media (min-width: 64rem){
    .text {
        width: 60%;
        padding-bottom: 2rem;
    }

    .text h4{
        font-size: 35px;
    }

    .text p{
        font-size: 22px;
    }

    .portada{
        width:15%;
    }
 }
